@import url(https://fonts.googleapis.com/css?family=Raleway:400);


.job-select {
  width: 100%;
}

.container{
  height: 600px;
}

#canvas {
  height: calc(100% - (48px + 8px + 27px + 12px));
  padding: 12px;
}
  
#svg-canvas {
  display: block;
  margin: 1px;
  padding: 0px;
  width: 100%;
  height: 100%;
  border-color: black;
  border-style: solid;
  border-width: thin;
}
