@import url(https://fonts.googleapis.com/css?family=Raleway:400);

body {
  background-color:linen;
}

.cluster-select, .pathway-select, .job-select {
  width: 100%;
}

.radar-chart > g > path {
  fill:#0F0;
  stroke: none;
  stroke-width:0;
  opacity:0.7;
}

.ribbon-tooltip {
  opacity: 0;
}

.ribbon-tooltip.visible{
  opacity: 1;
}

.btn {
  margin-bottom: 2pt;
}

#canvas-radarIM {
  padding-right: 1px;
  padding-top: 12px;
}
#canvas-radarLV {
  padding-left: 1px;
  padding-top: 12px;
}

#canvas-force {
  padding: 12px;
}

#svg-radar-legend {
  border-color: lightgray;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

.svg-content-responsive {
  display: block;
  margin: 1px;
  padding: 0px;
  width: 100%;
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
}

.job1-select, .job2-select{
  color: #fdfcdc;
  font-size: large;
  text-align: left;
  opacity: 0.8;
}

.job1-select:hover, .job2-select:hover{
  opacity: 1;
  color: #fdfcdc;
}

.job1-select {
  background-color: #ee6055;
}
.job2-select {
  background-color: #284b63;
}



/* Radar Styling */


.radar-chart .level {
  stroke: lightgray;
  stroke-width: 0.5;
}

.radar-chart .axis line {
  stroke: lightgray;
  stroke-width: 1;
}
.radar-chart .axis .legend {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
}
.radar-chart .axis .legend.top {
  dy:1em;
}
.radar-chart .axis .legend.left {
  text-anchor: end;
}
.radar-chart .axis .legend.middle {
  text-anchor: middle;
}
.radar-chart .axis .legend.right {
  text-anchor: start;
}

.radar-chart .tooltip {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  transition: opacity 200ms;
  opacity: 0;
}
.radar-chart .tooltip.visible {
  opacity: 1;
}

/* area transition when hovering */
.radar-chart .area {
  stroke-width: 2;
  fill-opacity: 0.5;
}
.radar-chart.focus .area {
  fill-opacity: 0.1;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.7;
}

.radar-chart .circle {
  fill-opacity: 0.9;
}

/* transitions */
.radar-chart .area, .radar-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1;
}
.radar-chart .d3-enter, .radar-chart .d3-exit {
  opacity: 0;
}



/* Career Path Styling */

#svg-canvas-force rect{
  opacity: 0.8;
  stroke: black;
}

#svg-canvas-force g.svg-text-other text {
  fill: black;
  font-size: large;
}

#svg-canvas-force > g > text {
  fill: #fdfcdc;
  font-size: large;
}

#svg-canvas-force .jobPathway-selected{
  opacity: 1;
  stroke-width: 3px;
}
