@import url(https://fonts.googleapis.com/css?family=Raleway:400);

body {
    margin: 0;
    width: 100%;
    height: 100%;
}
  
#canvas {
  display: block;
  position: absolute;
  height: 75%;
  width: 75%;
  border-color: black;
  border-style: solid;
  border-width: thin;
  /* overflow: hidden; */
}

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
}